@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans&display=swap');

:root {
  /* font-size: 62.5%; */
  /* Color Pallette */
  --task-black: #3D405B;
  --task-white: #F4F1DE;
  --task-yellow: #F2CC8F;
  --task-orange: #E07A5F;
  --task-green: #81B29A;
  --task-blue: #2D6976;
  /* replace boostrap blue */
  --bs-blue: #2D6976;
  /* Amplify styling overrides for 62.5% base font-size */
  /* --amplify-text-xxs:	1rem;
  --amplify-text-xs:	1.2rem;
  --amplify-text-sm:	1.25rem;
  --amplify-text-md:	1.5rem;
  --amplify-text-lg:	2rem;
  --amplify-text-xl:	2.5rem;
  --amplify-text-xxl:	3rem; */
  /* according to the docs this should work to resize auth containers...*/
  /* but it doesn't... (meant for 62.5%) */
  /* --min-width: 40rem;
  --width: 40rem; */
  /* Style */
  --task-font-title: 'Comfortaa', cursive;
  --task-font-text: 'Open Sans', sans-serif;
}

*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  box-sizing: border-box;
  /* font-size: 1.5rem; */
}

html, body, body > * {
  height: 100vh
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: var(--task-green);
  color: var(--task-black);
  font-family: var(--task-font-text);
  /* font-size: 1.5rem; */
}

h1, h2, h3 {
  font-size: 1.25rem;
  font-family: var(--task-font-title);
  font-weight: 800;
}

a {
  text-decoration: none;
  color: var(--task-green);
}

.content {
  position: relative;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* amplify-button {
  --padding: .5rem;
} */