@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans&display=swap');

*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  /* Color Pallette */
  --task-black: #3D405B;
  --task-white: #F4F1DE;
  --task-yellow: #F2CC8F;
  --task-orange: #E07A5F;
  --task-green: #81B29A;
  /* Style */
  --task-font-title: 'Comfortaa', cursive;
  --task-font-text: 'Open Sans', sans-serif;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: var(--task-white);
  color: var(--task-black);
  font-family: var(--task-font-text);
  font-size: 1.5rem;
}

h1, h2, h3 {
  font-family: var(--task-font-title);
  font-weight: 800;
}

a {
  text-decoration: none;
  color: var(--task-green);
}

.content {
  width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
