:root {
  --amplify-text-xxs:	1rem;
  --amplify-text-xs:	1.2rem;
  --amplify-text-sm:	1.25rem;
  --amplify-text-md:	1.5rem;
  --amplify-text-lg:	2rem;
  --amplify-text-xl:	2.5rem;
  --amplify-text-xxl:	3rem;
  --width: 40rem;
}
